
【Task3 线性回归算法梳理】(1天时间)
【测评函数(单变量)】(1天)
1. 波士顿房产数据(只使用房间数量这个特征)
2. 数据切分（train_test_split）
3. MSE、MAE、RMSE、r2_score(自己写)VS   scikit-learn中的MSE和MAE、r2_score

In [44]:
#波士顿房产数据 sklearn库自带的，取用即可
from sklearn.datasets import load_boston
import pandas as pd

bostonDatas = load_boston()
#print(bostonDatas.data)#查看数据是数组格式
#查看下数据
X_features = bostonDatas.data#取特征X
y_labels = bostonDatas.target#取结果值y
X_cols = bostonDatas.feature_names#取特征名称（列名）
#print("特征：%s" % X_features)
#print("目标值（房价）：%s" % y_labels)
print("特征名称：%s " % X_cols)

#转为pandas格式
#特征
bostonDF_X = pd.DataFrame(bostonDatas.data,columns=X_cols)
bostonDF_X.head()

特征名称：['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [45]:
#结果
bostonDF_y = pd.DataFrame(bostonDatas.target)
bostonDF_y.head()

#【注意：以下可以不必如此周折，直接boston.data[:,5]取到第5列即是RM,
#fit的时候可以用数组值.reshape(-1,1)】

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [46]:
#拼合特征和结果DataFrame
bostonDF = pd.concat([bostonDF_X,bostonDF_y],axis=1)
bostonDF.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,0
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [48]:
#过滤，只留RM 房间数特征
roomDatas = bostonDF[['RM',0]]
roomDatas.rename(columns={0:'roomPrice'},inplace=True)#房价改标题
roomDatas.head()

#取特征
X_data = roomDatas['RM']
y_data = roomDatas['roomPrice']
print("原始数据特征（房间数）：%s " % X_data)
print("原始数据结果（房价）：%s " % y_data)

原始数据特征（房间数）：0      6.575
1      6.421
2      7.185
3      6.998
4      7.147
5      6.430
6      6.012
7      6.172
8      5.631
9      6.004
10     6.377
11     6.009
12     5.889
13     5.949
14     6.096
15     5.834
16     5.935
17     5.990
18     5.456
19     5.727
20     5.570
21     5.965
22     6.142
23     5.813
24     5.924
25     5.599
26     5.813
27     6.047
28     6.495
29     6.674
       ...
476    6.484
477    5.304
478    6.185
479    6.229
480    6.242
481    6.750
482    7.061
483    5.762
484    5.871
485    6.312
486    6.114
487    5.905
488    5.454
489    5.414
490    5.093
491    5.983
492    5.983
493    5.707
494    5.926
495    5.670
496    5.390
497    5.794
498    6.019
499    5.569
500    6.027
501    6.593
502    6.120
503    6.976
504    6.794
505    6.030
Name: RM, Length: 506, dtype: float64
原始数据结果（房价）：0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
5      28.7
6      22.9
7      27.1
8      16.5
9      18.9
10     15.0
11     18.9
12     21.7
13     20.4
14     18.2
15     19.9
16     23.1
17     17.5
18     20.2
19     18.2
20     13.6
21     19.6
22     15.2
23     14.5
24     15.6
25     13.9
26     16.6
27     14.8
28     18.4
29     21.0
       ...
476    16.7
477    12.0
478    14.6
479    21.4
480    23.0
481    23.7
482    25.0
483    21.8
484    20.6
485    21.2
486    19.1
487    20.6
488    15.2
489     7.0
490     8.1
491    13.6
492    20.1
493    21.8
494    24.5
495    23.1
496    19.7
497    18.3
498    21.2
499    17.5
500    16.8
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: roomPrice, Length: 506, dtype: float64

In [50]:
#数据切分（train_test_split）用sklearn的交叉验证，切分数据为训练集和验证集
from sklearn.cross_validation import train_test_split
#交叉验证，切分训练集和验证集
X_train,X_test,y_train,y_test = train_test_split(X_data,y_data,test_size=0.3,random_state=0)
#切分比例为30%做验证集
#打印长度
print("特征训练集：%s" % len(X_train))
print("特征验证集：%s" % len(X_test))
print("结果训练集：%s" % len(y_train))
print("结果验证集：%s" % len(y_test))

特征训练集：354
特征验证集：152
结果训练集：354
结果验证集：152

In [58]:
#训练模型(用线性回归)
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train.values.reshape(-1,1),y_train.values.reshape(-1,1))
#【X_train为series数据，取值变数组reshape进行训练，#不转的话报错，只有一个特征】

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [60]:
#预测
y_pred = lr.predict(X_test.values.reshape(-1,1))

In [76]:
#评估模型
from sklearn import metrics
import numpy as np

#MSE评估指标 均方误差
skl_MSE = metrics.mean_squared_error(y_test,y_pred)

#RMSE评估指标 均方根误差
skl_RMSE = np.sqrt(skl_MSE)

#算MAE平均绝对值误差 #单词absolute，绝对的
skl_MAE = metrics.mean_absolute_error(y_test,y_pred)
#算R^2
skl_R2 = metrics.r2_score(y_test,y_pred)

print("skl算MSE: %s" % skl_MSE)
print("skl算RMSE: %s" % skl_RMSE)
print("skl算R方: %s" % skl_R2)
print("skl算MAE: %s" % skl_MAE)

#公式与解释参考：
#https://www.jianshu.com/p/9ee85fdad150

skl算MSE: 47.03304747975518
skl算RMSE: 6.858064412044785
skl算R方: 0.43514364832115193
skl算MAE: 4.470784290506162

In [75]:
#手算R方，MSE
hand_MSE=np.sum(np.power((y_test.values.reshape(-1,1) - y_pred),2))/len(y_test.values)
#手算RMSE
hand_RMSE = np.sqrt(hand_MSE)
#均方误差公式：y真实值与预测值之差（误差）平方（方）和再求平均（均）
R2=1-hand_MSE/np.var(y_test.values)#代入【R方公式】,R方越大表示右半部损失越小，表示模型越好
#算MAE平均绝对值误差
hand_MAE=np.sum(np.abs((y_test.values.reshape(-1,1) - y_pred)))/len(y_test.values)

print("手算mse: %s " % hand_MSE)
print("手算rmse: %s " % hand_RMSE)
print("手算R方: %s " % R2)
print("手算MAE: %s " % hand_MAE)

手算mse: 47.03304747975518
手算rmse: 6.858064412044785
手算R方: 0.4351436483211518
手算MAE: 4.470784290506162